In [1]:
import findspark
findspark.init()

Requirement already satisfied: dask in c:\programdata\anaconda3\lib\site-packages (2021.4.0)
Requirement already satisfied: partd>=0.3.10 in c:\programdata\anaconda3\lib\site-packages (from dask) (1.2.0)
Requirement already satisfied: cloudpickle>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from dask) (1.6.0)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from dask) (5.4.1)
Requirement already satisfied: fsspec>=0.6.0 in c:\programdata\anaconda3\lib\site-packages (from dask) (0.9.0)
Requirement already satisfied: toolz>=0.8.2 in c:\programdata\anaconda3\lib\site-packages (from dask) (0.11.1)
Requirement already satisfied: locket in c:\programdata\anaconda3\lib\site-packages\locket-0.2.1-py3.8.egg (from partd>=0.3.10->dask) (0.2.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
from dask.diagnostics import ProgressBar
import pandas as pd

In [3]:
import dask.dataframe as dd
dd = dd.read_csv('train.csv')

In [4]:
dd.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [5]:
dd.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [6]:
type(dd)

dask.dataframe.core.DataFrame

In [7]:
dd

Dask DataFrame Structure:
                   key fare_amount pickup_datetime pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude passenger_count
npartitions=90
                object     float64          object          float64         float64           float64          float64           int64
                   ...         ...             ...              ...             ...               ...              ...             ...
...                ...         ...             ...              ...             ...               ...              ...             ...
                   ...         ...             ...              ...             ...               ...              ...             ...
                   ...         ...             ...              ...             ...               ...              ...             ...
Dask Name: read-csv, 90 tasks

In [8]:
print(dd.index.size*100)

dd.Scalar<mul-ca1..., dtype=int32>

In [9]:
valores_null = dd.isnull().sum() #sumamos los valores null
ratio_perdida = ((valores_null/dd.index.size)*100)

In [10]:
print(ratio_perdida)

Dask Series Structure:
npartitions=1
dropoff_latitude    float64
pickup_longitude        ...
dtype: float64
Dask Name: mul, 454 tasks

In [11]:
len(dd)

55423856

In [12]:
print(dd.shape)

(Delayed('int-532628ee-692e-408f-b480-1cf88cb26cb0'), 8)

In [13]:
with ProgressBar():
    ratio_perdida = ratio_perdida.compute()

[########################################] | 100% Completed |  1min 47.6s

In [14]:
ratio_perdida

key                  0.000000
fare_amount          0.000000
pickup_datetime      0.000000
pickup_longitude     0.000000
pickup_latitude      0.000000
dropoff_longitude    0.000678
dropoff_latitude     0.000678
passenger_count      0.000000
dtype: float64

In [15]:
dd = dd.dropna()

In [16]:
dd

Dask DataFrame Structure:
                   key fare_amount pickup_datetime pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude passenger_count
npartitions=90
                object     float64          object          float64         float64           float64          float64           int64
                   ...         ...             ...              ...             ...               ...              ...             ...
...                ...         ...             ...              ...             ...               ...              ...             ...
                   ...         ...             ...              ...             ...               ...              ...             ...
                   ...         ...             ...              ...             ...               ...              ...             ...
Dask Name: dropna, 180 tasks

In [17]:
len(dd)

55423480

In [18]:
dd.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 8 entries, key to passenger_count
dtypes: object(2), float64(5), int64(1)